* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "freight-big-pro", serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  background-color: #000;
}

#loader {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 99;
  /* display: none; */
}
#loader h1 {
  font-size: 7vw;
  font-weight: 100;
  line-height: 0.72em;
  letter-spacing: -0.03em;
  position: relative;
  z-index: 9;
}

#yellow-loader-1 {
  height: 100%;
  width: 100vw;
  position: absolute;
  background-color: #f5e41b;
  z-index: 8;
}

#yellow-loader-2 {
  height: 100%;
  width: 100vw;
  position: absolute;
  background-color: #f5e41b;
  z-index: 7;
}

#loader video {
  height: 100%;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  z-index: 6;
}

#nav {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 30px 50px;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #f5e41b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#page1 h1 {
  font-size: 7vw;
  font-weight: 100;
  line-height: 0.72em;
  letter-spacing: -0.03em;
}

#page1 h1 em {
  font-weight: 100 !important;
}

#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-position: center;
}

#page2 .product {
  width: 100%;
  position: relative;
}

#page2 .product h2 {
  font-size: 5.5vw;
  line-height: 10vh;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

#page2 .product:hover .moving-details {
  transform: translate(0, -50%) scaleY(1);
}

#page2 .product:hover .moving-details .detail-name {
  opacity: 1;
}

#page2 .product:hover h2 {
  font-style: italic;
  color: #000;
}

#page2 .product .moving-details {
  width: 100%;
  padding: 5px 0;
  background-color: #f5e41b;
  color: #000;
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translate(0, -50%) scaleY(0);
  transition: all ease 0.2s;
}
#page2 .product .moving-details .blur {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5e41b;
  box-shadow: 10px 0 20px 20px #f5e41b, -10px 0 20px 20px #f5e41b;
  z-index: 10;
}
#page2 .product .moving-details .detail-name-wrapper {
  white-space: nowrap;
  display: inline-block;
  animation: move-details 15s linear infinite;
}

#page2 .product .moving-details .detail-name {
  padding: 0 15px;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
  margin-right: 25px;
  opacity: 0;
  transition: all ease 0.2s 0.2s;
}

@keyframes move-details {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#page3 {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#page2 img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}
